<style>
  @import url("https://fonts.googleapis.com/css?family=Lobster+Two:700|Poppins&display=swap");

  ::selection {
    color: white;
    background: #078618;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .modal-box {
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    background: white;
    height: auto;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #078618;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }

  .modal-box .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    background: #078618;
    height: 45px;
    width: 50px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 0 5px 0 50px;
    padding-left: 13px;
    cursor: pointer;
  }

  .fa-times:hover {
    font-size: 22px;
  }

  .modal-box .icon1 {
    font-size: 60px;
    background: #078618;
    height: 120px;
    width: 120px;
    color: white;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    margin-bottom: 10px;
  }

  .modal-box header {
    font-size: 31px;
    font-family: "Lobster Two";
    margin-bottom: 10px;
  }

  .modal-box p {
    line-height: 20px;
    color: grey;
  }

  form input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
  }

  form input {
    margin-top: 15px;
    padding: 0 65px;
    font-size: 18px;
    outline: none;
    border: 2px solid #078618;
    caret-color: #abecb4;
  }

  input::placeholder {
    color: #8c8c8c;
  }

  form input:focus {
    box-shadow: 0 0 15px #078618, 0 0 25px #b4f0fd, 0 0 35px #ffffff;
  }

  .modal-box .icons {
    margin-top: 25px;
  }

  .icons i {
    font-size: 22px;
    margin: 0 7px;
    color: #078618;
    cursor: pointer;
  }

  .icons i:hover {
    transform: scale(1.1);
    color: #078618;
  }
</style>
<body>
  <!-- Hero Section End -->

  <section class="hero" style="height: 100vh">
    <%- include('homehero.ejs') %>
  </section>
  <br />
  <br />
  <hr />
  <!-- HTML -->
  <div class="center modal-box">
    <div class="fas fa-times close-button" onclick="closePopup()"></div>
    <div class="fas fa-envelope icon1"></div>
    <header>Get 10% Off!</header>
    <p>
      Sign up for our newsletter and get a 10% discount on your first purchase.
    </p>
    <form id="subscribe-form">
      <input type="email" placeholder="Enter your email" />
      <br />
      <br />

      <button type="submit" class="site-btn" style="width: 100%">
        Sign Up
      </button>
    </form>
    <div class="icons">
      <a
        href="https://www.facebook.com/people/Lime-Bow-Gifts/100082979546774/?mibextid=2JQ9oc"
        ><i class="fab fa-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/Maishalyxgifts/?igshid=NGVhN2U2NjQ0Yg%3D%3D"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://twitter.com/limebowgifts"><i class="fab fa-twitter"></i></a>
      <a href="https://www.tiktok.com/@limebowgifts?_t=8hZcIiIP66Y&_r=1"
        ><i class="fab fa-tiktok"></i
      ></a>
    </div>
  </div>

  <!-- CSS -->

  <section class="featured spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Featured Product</h2>
          </div>
          <div class="featured__controls">
            <ul>
              <li class="active" data-filter="*">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row featured__filter">
        <% products.forEach(product => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
          <div class="featured__item">
            <div
              class="featured__item__pic set-bg"
              data-setbg="img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[0] : product.imagesurl %>"
            >
              <ul class="featured__item__pic__hover">
                <li>
                  <a><i class="fa fa-heart"></i></a>
                </li>
                <li></li>
                <li>
                  <a
                    onclick="addToCart('<%= product.productid %>', '<%= product.name %>')"
                  >
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6>
                <a href="/item-details/<%= product.productid %>"
                  ><%= product.name %></a
                >
              </h6>
              <h5><%= product.price %></h5>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
  <!-- Featured Section End -->

  <!-- Banner Begin -->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__video">
            <video
              autoplay
              loop
              muted
              playsinline
              poster="/img/banner/banner-1.jpg"
              width="100%"
              height="300px"
            >
              <source src="/img/MP44/img_2708.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__video">
            <video
              autoplay
              loop
              muted
              playsinline
              poster="/img/banner/banner-2.jpg"
              width="100%"
              height="300px"
            >
              <source src="/img/MP44/img_2714.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Banner End -->

  <!-- Latest Product Section Begin -->
  <section class="latest-product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Latest Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Top Rated Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Review Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
              <div class="latest-prdouct__slider__item">
                <% latestproducts.forEach(latestproduct => { %>
                <a
                  href="/item-details/<%= latestproduct.productid %>"
                  class="latest-product__item"
                >
                  <div class="latest-product__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(latestproduct.imagesurl) ? latestproduct.imagesurl[0] : latestproduct.imagesurl %>"
                      alt="<%= latestproduct.name %>"
                    />
                  </div>
                  <div class="latest-product__item__text">
                    <h6><%= latestproduct.name %></h6>
                    <span>KES <%= latestproduct.price %></span>
                  </div>
                </a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("subscribe-form");

      form.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission behavior

        const email = form.querySelector("input[type='email']").value;

        // Define the API endpoint
        const apiEndpoint = "/api/subscribe"; // Ensure the correct API endpoint URL
        const data = {
          email: email,
        };

        // Send a POST request to the API endpoint
        fetch(apiEndpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            if (response.ok) {
              return response.json(); // Parse the JSON response
            } else {
              throw new Error("Subscription failed"); // Throw an error for non-successful responses
            }
          })
          .then((data) => {
            if (data.success) {
              // The subscription was successful, and you can access the created coupon
              console.log("Subscription successful!");
              ///console.log(data.coupon); // Access the created coupon data here
              const coupon = data.coupon.code;
              const message =
                "You have successfully subscribed to our newsletter. Your coupon is: " +
                coupon;

              // Show an alert with the combined message
              alert(message);
              closePopup();
            } else {
              // Handle any other success-related logic
              console.error(data.message);
            }
          })
          .catch((error) => {
            // Handle errors, e.g., show an error message.
            console.error("Error:", error.message);
          });
      });
    });
  </script>

  <script>
    function openPopup() {
      document.querySelector(".modal-box").style.display = "block";
    }

    function closePopup() {
      document.querySelector(".modal-box").style.display = "none";
    }

    // Show the pop-up when the page loads
    window.addEventListener("load", openPopup);
  </script>
</body>
