<body>
  <%- include('hero.ejs') %>
  <!-- Product Details Section Begin -->
  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="product__details__pic">
            <div class="product__details__pic__item">
              <img
                class="product__details__pic__item--large"
                src="/img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[0] : product.imagesurl %>"
                alt=""
              />
            </div>
            <div class="product__details__pic__slider owl-carousel">
              <img
                data-imgbigurl="img/product/details/product-details-2.jpg"
                src="img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[1] : product.imagesurl %>"
                alt=""
              />
              <img
                data-imgbigurl="img/product/details/product-details-3.jpg"
                src="img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[2] : product.imagesurl %>"
                alt=""
              />
              <img
                data-imgbigurl="img/product/details/product-details-5.jpg"
                src="img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[3] : product.imagesurl %>"
                alt=""
              />
              <img
                data-imgbigurl="img/product/details/product-details-4.jpg"
                src="img/uploads/<%= Array.isArray(product.imagesurl) ? product.imagesurl[4] : product.imagesurl %>"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="product__details__text">
            <h3><%= product.name %></h3>
            <div class="product__details__rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <span>(18 reviews)</span>
            </div>
            <div class="product__details__price">KES <%= product.price %></div>
            <p><%= product.description %></p>
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty">
                  <input type="text" value="1" />
                </div>
              </div>
            </div>
            <a href="#" onclick="addToCart('<%= product.productid %>', '<%= product.name %>')" class="primary-btn">ADD TO CART</a>
            <a href="#" class="heart-icon"
              ><span class="icon_heart_alt"></span
            ></a>
            <ul>
              <li><b>Availability</b> <span><%= product.availability %></span></li>
              <li>
                <b>Shipping</b>
                <span>01 day shipping. <samp>Free pickup today</samp></span>
              </li>
              <li><b>Weight</b> <span><%= product.weight %> KG</span></li>
              <li>
                <b>Share on</b>
                <div class="share">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-toggle="tab"
                  href="#tabs-1"
                  role="tab"
                  aria-selected="true"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="tab"
                  href="#tabs-2"
                  role="tab"
                  aria-selected="false"
                  >Information</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="tab"
                  href="#tabs-3"
                  role="tab"
                  aria-selected="false"
                  >Reviews <span>(1)</span></a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="product__details__tab__desc">
                  <h6>Products Infomation</h6>
                  <p>
                    <%= product.description %>
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="product__details__tab__desc">
                  <h6>Products Infomation</h6>
                  <p>
                    <%= product.description %>
                  </p>
                  <p>
                    <%= product.description %>
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="product__details__tab__desc">
                  <h6>Products Infomation</h6>
                  <p>
                    <%= product.description %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Details Section End -->

  <!-- Related Product Section Begin -->
  <section class="related-product">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title related__product__title">
            <h2>Related Product</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="img/product/product-1.jpg"
            >
              <ul class="product__item__pic__hover">
                <li>
                  <a href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-retweet"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6><a href="#">Crab Pool Security</a></h6>
              <h5>KES 30.00</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="img/product/product-2.jpg"
            >
              <ul class="product__item__pic__hover">
                <li>
                  <a href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-retweet"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6><a href="#">Crab Pool Security</a></h6>
              <h5>KES 30.00</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="img/product/product-3.jpg"
            >
              <ul class="product__item__pic__hover">
                <li>
                  <a href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-retweet"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6><a href="#">Crab Pool Security</a></h6>
              <h5>KES 30.00</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="img/product/product-7.jpg"
            >
              <ul class="product__item__pic__hover">
                <li>
                  <a href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-retweet"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6><a href="#">Crab Pool Security</a></h6>
              <h5>KES 30.00</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Product Section End -->

  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__about__logo">
              <a href="index"><img src="img/logo.png" alt="" /></a>
            </div>
            <ul>
              <li>Address: 60-49 Road 11378 New York</li>
              <li>Phone: +65 11.188.888</li>
              <li>Email: hello@colorlib.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>Useful Links</h6>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">About Our Shop</a></li>
              <li><a href="#">Secure Shopping</a></li>
              <li><a href="#">Delivery infomation</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Our Sitemap</a></li>
            </ul>
            <ul>
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Innovation</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__widget">
            <h6>Join Our Newsletter Now</h6>
            <p>Get E-mail updates about our latest shop and special offers.</p>
            <form action="#">
              <input type="text" placeholder="Enter your mail" />
              <button type="submit" class="site-btn">Subscribe</button>
            </form>
            <div class="footer__widget__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__copyright">
            <div class="footer__copyright__text">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | Made for Limeblow ltd by
                <a
                  href="https://collinskandie.github.io/collinskandie"
                  target="_blank"
                  >Collins Kandie</a
                >
              </p>
            </div>
            <div class="footer__copyright__payment">
              <img src="img/payment-item.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
